
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar","Cliente", FormMethod.Post))
        {

        }
    </div>

</div>